@import "tailwindcss";

@theme {
  --breakpoint-customSize: 900px;
  --breakpoint-customSize2: 514px;
}

body {
  background-color: #0f0f11;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ac1a19 !important;
  transform: scale(1.2) !important;
}
